<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>EU Starter Project</title>

    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/base.css">
</head>
<body>
<div class="container" ng-controller="MyController">

    <div class="page-header">
        <h1>Web Example</h1>
    </div>

    <div class="row">
        <div class="col-md-3">
            What is your favorite color?
        </div>
        <div class="col-md-3">
            <form class="form-inline" ng-submit="postData()">
                <input type="text" class="form-control" ng-model="color"
                       placeholder="Enter a color">
                <input type="submit" class="span1 btn btn-primary" value="Submit"
                       ng-disabled="!color">
            </form>
        </div>
        <div class="col-md-3">
            {{ message }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-9">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            What colors do people like?
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" ng-click="getData()">Get colors</button>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <table class="table">
                <tr ng-repeat="person in people">
                    <td>{{ person.name }}</td>
                    <td>{{ person.color }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="js/base.js"></script>
</body>
</html>
