body {
    margin: 0;
    font-family: 'Indie Flower', serif;
    font-size: 30px;
    background-color: #8c7373
}

.spacer {
    height: 35px;
}

.clickable:hover {
    cursor: pointer;
    color: #ccffcc;
    background-color: #b3b3b3
}

img {
    max-height: 250px;
}
