body {
    margin: 0;
font-family: 'Indie Flower', serif;
        font-size: 30px;
    
}

.spacer {
    height: 30px;
}

.clickable:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #001100
}