body {
    margin: 0;
    font-family: 'Bitter', serif;
    font-size: 48px;
}

.spacer {
    height: 30px;
}

.clickable:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #001100
}