<div class="container">

    <div class="page-header">
        <h1>NBA Quiz</h1>

        <div ng-hide="!done">{{ message }}</div>
        <img ng-if="currentImage" ng-src='/img/{{ currentImage }}'>



        <div class="row">
            <div class="col-sm-12 col-md-9">
                <button class="btn btn-primary" ng-click="getData()" ng-hide="currentQuestion">
                  Start Quiz
            </button>
            </div>
        </div>


        <div class="spacer"></div>
        <div class="row" ng-hide="!currentQuestion" <div class="col-sm-12 col-md-6">
            <div class="panel panel default">
                <div class="panel-heading"> {{ currentQuestion.question }} </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="clickable list-group-item" ng-repeat="answer in currentQuestion.answers" ng-click="answerQuestion(answer.id)">
                            {{ answer.value }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
